<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 class="mb-3">Support</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Help Center</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Safety information</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Cancellation options</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Report a concern</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Community</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Airbnb.org</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Support refugees</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Combating discrimination</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Hosting</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Try hosting</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Protection for Hosts</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Explore hosting resources</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Visit our community forum</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">About</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Newsroom</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Learn about new features</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Letter from our founders</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Careers</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-white-50 my-4">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0">© 2026 Airbnb Clone, Inc. · Terms · Sitemap · Privacy · Your Privacy Choices</p>
            </div>
            <div class="col-md-6 text-md-end">
                <div class="d-flex justify-content-md-end gap-3">
                    <span>English (US)</span>
                    <span>$ USD</span>
                    <a href="#" class="text-white-50 text-decoration-none">Facebook</a>
                    <a href="#" class="text-white-50 text-decoration-none">Twitter</a>
                    <a href="#" class="text-white-50 text-decoration-none">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</footer>
